= render partial: "answers/questions", locals: { answered_questions: @answered_questions, unanswered_questions: @unanswered_questions }

= link_to "I'm Done!", profile_path, class: 'btn btn-lg btn-primary'
