- flash.keys.each do |name, message|
  = content_tag :div, message, class: name

%table.table.table-striped
  %tr
    %th Question
    %th Action
  - @questions.each do |q|
    %tr
      %td.col-xs-6= q.question
      %td.col-xs-1
        - if answer = @answers_by_question_id[q.id]
          = link_to "Change", question_path(id: q.id)
        - else
          = link_to "Answer", question_path(id: q.id)
