- if resource.published?
  %small Published
  = link_to 'Unpublish', unpublish_program_path(resource), method: :put, class: 'btn btn-info btn-xs'
- else
  %small Unpublished
  = link_to 'Publish', publish_program_path(resource), method: :put, class: 'btn btn-info btn-xs'
|
= link_to 'Edit', edit_resource_path(resource), class: 'btn btn-info btn-xs'
= link_to 'Delete', resource, method: :delete, class: 'btn btn-danger btn-xs'
