.row
  .col-xs-12
    %h2.page-header Recommended jobs based on your skills

.row
  .col-xs-6
    Job Type
  .col-xs-2
    Skill value

= render 'job_type_recommendations', job_types: @user.matching_job_types_by_skill_level

