:javascript
  $(document).ready(function() {
    $("form :input").prop("disabled", true);
    $("form .actions").hide();
  })

.wide-floaty-box
  %h1.page-header
    #{resource.respond_to?(:name) ? resource.name : "Viewing #{resource.class.name.underscore.humanize.titleize}"}

    %span.pull-right
      - if can? :edit, resource
        = link_to 'Edit', edit_question_answer_path(@question, resource)

  = render 'form'
