%footer.x-colophon.bottom{:role => "contentinfo"}
  .x-container-fluid.max.width
    %ul#menu-main-menu-1.x-nav
      %li.menu-item.menu-item-type-post_type.menu-item-object-page.current-menu-item.page_item.page-item-5.current_page_item.menu-item-11
        %a{:href => "http://checkpointmarshall.org/"} Home
      %li.menu-item.menu-item-type-post_type.menu-item-object-page.menu-item-26
        %a{:href => "http://checkpointmarshall.org/blog/"} Blog
      %li.menu-item.menu-item-type-post_type.menu-item-object-page.menu-item-10
        %a{:href => "http://checkpointmarshall.org/about/"} About
      %li.menu-item.menu-item-type-post_type.menu-item-object-page.menu-item-33
        %a{:href => "http://checkpointmarshall.org/meet-general-marshall/"} Meet General Marshall
    .x-social-global
    .x-colophon-content
      %p{:style => "letter-spacing: 2px; text-transform: uppercase; opacity: 0.5; filter: alpha(opacity=50);"}
        Copyright © 2014
        %a{:href => "http://georgecmarshall.org/", :title => "George C Marshall International Center", target: :_blank} George C Marshall International Center