%li#menu-item-26.menu-item.menu-item-type-post_type.menu-item-object-page.menu-item-26
  %a{:href => "http://checkpointmarshall.org/blog/"} Veteran Resources
%li#menu-item-10.menu-item.menu-item-type-post_type.menu-item-object-page.menu-item-10
  %a{:href => "http://checkpointmarshall.org/about/"} Our Vision
%li#menu-item-33.menu-item.menu-item-type-post_type.menu-item-object-page.menu-item-33
  %a{:href => "http://checkpointmarshall.org/meet-general-marshall/"} Meet General Marshall
